.Quiz {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    font-size: calc(10px + 2vmin);
    color: white;
}

.question-frame {
    position: relative;
}

.question-frame img {
    height: 25rem;
}

.timer-frame {
    position: absolute;
    top: 5rem;
    right: 2.5rem;
}

.option-frame {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.option-frame li {
    padding-top: 10px;
    padding-bottom: 10px;
    border: white 2.5px solid;
    border-radius: 20px;
    background-color: white;
    color: black;
    text-align: left;
    list-style-type: none;
    width: 22.5rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 15px;
}

.option-frame li:hover {
    cursor: pointer;
}